@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background: #c188a0;
    color: #271e22;
    font-family: lato;
    text-align: center;

}

.image {
    width: 300px;
    height: 450px;
    background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.6435-9/121009730_3910027699027302_5061933157034301283_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_ohc=Cq56ljZ3IkQAX8Vlkxz&_nc_oc=AQl8L4N8l2ziI4YBMtpEGPUijao7_o-2DhQ8hKcWK-St22Nt1wgrBggsvCax6yl8wVo&_nc_ht=scontent-waw1-1.xx&oh=00_AT90FZXhxFMiL4-ANFHMUt-9QM8X8nr1zugrB1E_tmGR3g&oe=62CB6F02);
    background-size: cover;
    background-position: 50% 50%;
    margin: 70px auto;
    border: solid;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: lato;
    font-weight: 400px;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 100px;
    border: 15px dotted #6f505d;
    color: #271e22;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 30px;
    border: 15px dotted #6f505d;
    border-top: none;
    border-bottom: none;
    color: #271e22;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: lato;
    font-weight: 400px;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 50px;
    border: 15px dotted #6f505d;
    border-top: none;
    border-bottom: none;
    color: #271e22;

}
ul { 
    list-style-type:none;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
    letter-spacing: 3px;
    word-spacing: 3px;
    line-height: 30px;
    border: 15px dotted #6f505d;
    border-top: none;
    color: #271e22;

}